/* 
* @Author: pedromello
* @Date:   2015-08-25 22:13:19
* @Last Modified by:   Pedro Mello
* @Last Modified time: 2015-08-26 03:02:44
*/

html,body{
	color:#4D4D4D;
    height: 100%;
}

.btn
{
    cursor: pointer;
    min-width: 200px;
}

.vertical-container, .vertical-container-modal{
    display:table;
    height: 100%;
    width: 100%;
}

.vertical-container-modal{
    pointer-events:none;
}

.vertical-center, .vertical-center-modal{
    display: table-cell;
    vertical-align: middle;
}

.vertical-center-modal{
    pointer-events:none;
}

.modal-content {
    width:inherit;
    height:inherit;
    margin: 0 auto;
    pointer-events:all;
}

.modal-header {
    pading:5px 0px 6px 15px;
    background-color:#4D4D4D;
    color:#D4D4D4;
}

.modal-body {
    padding: 45px;
    text-align: center;
}

.modal-body p{
	font-size: 120%;
	padding-top: 15px;
}

.glyphicon{
	color:#5cb85c;
    display:none;
}

.progress-bar {
    transition: none!important;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}